altgraph==0.16.1
astroid==2.4.2
autopep8==1.5.4
caribou==0.2.1
colour==0.1.5
et-xmlfile==1.0.1
freeze==3.0
isort==5.5.2
jdcal==1.4.1
lazy-object-proxy==1.4.3
macholib==1.11
mccabe==0.6.1
modulegraph==0.17
numpy==1.17.2
openpyxl==3.0.5
pandas==1.1.2
Pillow==7.2.0
py2app==0.19
pycodestyle==2.6.0
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pylint==2.6.0
python-dateutil==2.8.0
pytz==2019.3
six==1.12.0
tkmacosx==0.0.5
toml==0.10.1
wrapt==1.12.1
